SPOTIFY_CLIENT_ID=
SPOTIFY_SECRET=
SPOTIFY_ACCOUNT_URL=https://accounts.spotify.com
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
GITHUB_TOKEN=
GITHUB_API_URL=https://api.github.com/repos/
GITHUB_USER=
GITHUB_EMAIL=
